@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
	font-family: 'Ubuntu', sans-serif;

	--font-size-0: 0.75rem;
	--font-size-1: 0.875rem;
	--font-size-2: 1rem;
	--font-size-3: 1.125rem;
	--font-size-4: 1.25rem;
	--font-size-5: 1.5rem;
	--font-size-6: 1.875rem;
	--font-size-7: 2.25rem;
	--font-size-8: 3rem;
	--font-size-9: 3.75rem;
	--font-size-10: 4.5rem;

	/* A scale for use with padding, margin, border-radius, etc. */
	--scale-0: 0;
	--scale-1: 0.25em;
	--scale-2: 0.5em;
	--scale-3: 0.75em;
	--scale-4: 1em;
	--scale-5: 1.5em;

	--grey-0: hsl(210, 20%, 98%);
	--grey-1: hsl(220, 14%, 96%);
	--grey-2: hsl(220, 13%, 91%);
	--grey-3: hsl(216, 12%, 84%);
	--grey-4: hsl(218, 11%, 65%);
	--grey-5: hsl(220, 9%, 46%);
	--grey-6: hsl(215, 14%, 34%);
	--grey-7: hsl(217, 19%, 27%);
	--grey-8: hsl(215, 28%, 17%);
	--grey-9: hsl(221, 39%, 11%);
}

/* Adds margin between siblings */
* + * {
	margin-top: var(--scale-4);
}
